<!-- <div class="footer">
	
	<div class="footer-inner">
		
		<div class="container">
			
			<div class="row">
				
    			<div class="span12">
    				&copy; 2018 <a href="#">Caleb</a>.
    			</div> <!-- /span12 -
    			
    		</div> <!-- /row -
    		
		</div> <!-- /container -
		
	</div> <!-- /footer-inner -
	
</div> <!-- /footer --> 
 <div class="extra">

	<div class="extra-inner">

		<div class="container">

			<div class="row">
                    <div class="span2">
                        <h4>
                           Company</h4>
                        <ul>
                            <li><a href="javascript:;">About Sharevest</a></li>
                            <li><a href="javascript:;"> Team</a></li>
                            <li><a href="javascript:;">Careers</a></li>
                            <li><a href="javascript:;">Contact Us</a></li>
                        </ul>
                    </div>
                    <!-- /span3 -->
                    <div class="span2">
                        <h4>
                            Get Started</h4>
                        <ul>
                            <li><a href="javascript:;">Invest</a></li>
                            <li><a href="javascript:;">Raise</a></li>
                            <li><a href="javascript:;">Referrals</a></li>
                            <li><a href="javascript:;">Tax Relief</a></li>
                            <li><a href="javascript:;">Types of Equity</a></li>
                        </ul>
                    </div>
                    <!-- /span3 -->
                    <div class="span2">
                        <h4>
                            Learn</h4>
                        <ul>
                            <li><a href="javascript:;">Case Studies</a></li>
                            <li><a href="javascript:;">Guides</a></li>
                            <li><a href="javascript:;">Blog</a></li>
                            <li><a href="javascript:;">FAQ</a></li>
                            <li><a href="javascript:;">Glossary</a></li>
                        </ul>
                    </div>
                    <!-- /span3 -->
                    <div class="span2">
                        <h4>
                           Legal Info</h4>
                        <ul>
                            <li><a href="">Risk Warning</a></li>
                            <li><a href="">Privacy Policy</a></li>
                            <li><a href="">Security</a></li>
                            <li><a href="">Terms of Services</a></li>
                            <li><a href="javascript:;">Referral Fee Terms</a></li>
                        	<li><a href="javascript:;">Secondary Market Terms</a></li>
                        </ul>
                    </div>
                    <!-- /span3 -->
                     <div class="span4 Social_icons">
                        <h4>Get Social</h4>
                           <a href=""><i class="icon-facebook"></a></i> 
                           <a href=""><i class="icon-twitter"></a></i> 
                           <a href=""><i class="icon-google-plus"></a></i> 
                           <a href=""><i class="icon-linkedin"></a></i> 
                     </div>
                </div> <!-- /row -->

		</div> <!-- /container -->

	</div> <!-- /extra-inner -->

</div> <!-- /extra -->   

<!-- Le javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="./js/jquery-1.7.2.min.js"></script>

<script src="./js/bootstrap.js"></script>
<script src="./js/base.js"></script>

  </body>

</html>